.menu-bd {
    display: none;
    position: relative;
    right: 314px;
    top: -126px;
    width: 296px;
    line-height: 20px;
    min-height: 40px;
    overflow: hidden;
    padding: 8px;
    text-align: left;
    background: #fff;
    color: #000;
    font-size: 12px;
    border: 1px #cecece solid;
}

.mini-cart-hd,
.mini-cart-ft p {
    padding-bottom: 10px;
}

.mini-cart-bd li {
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.mini-cart-bd a {
    color: #000;
}

.mini-cart-bd a:hover {
    text-decoration: none;
    color: #F22E00;
}

.mini-cart-bd .mini-cart-img {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.mini-cart-bd .mini-cart-count {
    float: right;
}

.mini-cart-bd .mini-cart-title {
    height: 20px;
    overflow: hidden;
}

.mini-cart-bd .mini-cart-title a {
    float: left;
    width: 168px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mini-cart-price {
    color: #F22E00;
}

.mini-cart-bd .mini-cart-del {
    float: right;
}

.mini-cart-ft {
    text-align: right;
}

.site-nav-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
    height: 25px;
    line-height: 25px;
    color: #FFF;
    background: #F40 none repeat scroll 0% 0%;
    border-radius: 2px;
}

.site-nav-btn:hover,
.site-nav-btn:visited,
.site-nav-btn:link {
    text-decoration: none;
    color: #fff;
}