.country-box-show{
	 float:left;
	 margin-right:10px;
	 margin-top:5px;
}




text-alert{
	color:#f37326
}


a.text-alert:hover{
	color:#da590c
}

[class^="litb-icon-"],[class*="litb-icon-"]{
	display:inline-block;
	vertical-align:top;
	margin-top:1px;
	*margin-right:.3em
}



.switch-country{
	font-size:12px;
	margin:0;
	font-family:Arial;
}


.switch-country .country-selector{
	margin-left:0;
	display:inline-block;
	position:relative;
 }


.switch-country .country-selector li{
	padding:0
}


.switch-country .country-selector .dropdown-menu{
	left:0
}


.switch-country .country-selector .countrytoggleclass{
	font-size:12px;
	border:1 solid #f2f2f2;
	background-image:none;
	z-index:9;
	position:relative;
	margin-top:2px;
	left:0;
	padding-top:2px;
	line-height:20px;
	font-weight:normal;
	top:-4px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}


.switch-country .country-selector .countrytoggleclass:active{
	box-shadow:none
}


.switch-country .country-selector.open .countrytoggleclass{
	border:1px solid #bbb;
	-webkit-border-radius:6px 6px 0 0;
	background-color:#fff;
	-moz-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
	border-bottom:1px solid transparent
}



.open{
	*z-index:1000
}

.open>.dropdown-menu{
	display:block
}






.switch-country{
	font-size:12px;
	margin:0;
	font-family:Arial;
}


.switch-country .country-selector{
	margin-left:0;
	display:inline-block;
	position:relative;
 }


.switch-country .country-selector li{
	padding:0
}


.switch-country .country-selector .dropdown-menu{
	left:0
}


.switch-country .country-selector .countrytoggleclass{
	font-size:12px;
	border:1px solid #f2f2f2;
	background-image:none;
	z-index:9;
	position:relative;
	margin-top:2px;
	left:0;
	padding-top:2px;
	line-height:20px;
	font-weight:normal;
	top:-4px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}


.switch-country .country-selector .countrytoggleclass:active{
	box-shadow:none
}


.switch-country .country-selector.open .countrytoggleclass{
	border:1px solid #bbb;
	-webkit-border-radius:6px 6px 0 0;
	background-color:#fff;
	-moz-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
	border-bottom:1px solid transparent
}



.curCountry{
	background:url(../Images/86mall/bg0129-down.png) right no-repeat;
	 padding-right:20px;
 }






.btn{
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:4px 12px;
	margin-bottom:0;
	font-size:14px;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	background-color:#f2f2f2;
	background-image:-moz-linear-gradient(top,#fff,#fafafa);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fafafa));
	background-image:-webkit-linear-gradient(top,#fff,#fafafa);
	background-image:-o-linear-gradient(top,#fff,#fafafa);
	background-image:linear-gradient(to bottom,#fff,#fafafa);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#fafafa',GradientType=0);
	border-color:#fafafa #fafafa #bfbfbf;
	border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	*background-color:#fafafa;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border:1px solid #bbb;
	*border:0;
	border-bottom-color:#a2a2a2;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05)
}


.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{
	color:#333;
	background-color:#fafafa;
	*background-color:#fff
}


.btn:active,.btn.active{
	background-color:#ccc \9
}


.btn:first-child{
	*margin-left:0
}


.btn:hover{
	color:#333;
	text-decoration:none;
	background-position:0 -15px;
	-moz-transition:background-position .1s linear .5s ease-in 0s;
	-webkit-transition:background-position .1s linear .5s ease-in 0s;
	-o-transition:background-position .1s linear .5s ease-in 0s;
	-ms-transition:background-position .1s linear .5s ease-in 0s;
	transition:background-position .1s linear .5s ease-in 0s;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear
}



.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{
	margin-top:-1px
}


.btn-mini{
	padding:0 6px;
	font-size:10.5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}




.litb-icon-search{
	width:15px;
	height:15px;
	 background:url(../Images/86mall/topbg-13.png)  0 -4px no-repeat
}







.switch-country .country-selector .dropdown-menu{
	top:19px;
	z-index:8;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px
}



.dropdown-menu{
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:160px;
	padding:5px 0;
	margin:2px 0 0;
	list-style:none;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,0.2);
	*border-right-width:2px;
	*border-bottom-width:2px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}


.dropdown-menu.pull-right{
	right:0;
	left:auto
}


.dropdown-menu .divider{
	*width:100%;
	height:1px;
	margin:9px 1px;
	*margin:-5px 0 5px;
	overflow:hidden;
	background-color:#e5e5e5;
	border-bottom:1px solid #fff
}



.dropdown-menu li>a{
	display:block;
	padding:3px 20px;
	clear:both;
	font-weight:normal;
	line-height:20px;
	color:#333;
	white-space:nowrap
}


.dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a{
	text-decoration:none;
	color:#fff;
	background-color:#c50000;
	background-image:-moz-linear-gradient(top,#ed1919,#c30b0b);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ed1919),to(#c30b0b));
	background-image:-webkit-linear-gradient(top,#ed1919,#c30b0b);
	background-image:-o-linear-gradient(top,#ed1919,#c30b0b);
	background-image:linear-gradient(to bottom,#ed1919,#c30b0b);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000',endColorstr='#c30b0b',GradientType=0)
}


.dropdown-menu .active>a,.dropdown-menu .active>a:hover{
	color:#fff;
	text-decoration:none;
	outline:0;
	background-color:#c50000;
	background-image:-moz-linear-gradient(top,#ed1919,#c30b0b);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#ed1919),to(#c30b0b));
	background-image:-webkit-linear-gradient(top,#ed1919,#c30b0b);
	background-image:-o-linear-gradient(top,#ed1919,#c30b0b);
	background-image:linear-gradient(to bottom,#ed1919,#c30b0b);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c50000',endColorstr='#c30b0b',GradientType=0)
}



.dropdown-menu .disabled>a,.dropdown-menu .disabled>a:hover{
	color:#999
}


.dropdown-menu .disabled>a:hover{
	text-decoration:none;
	background-color:transparent;
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor:default
}


.open{
	*z-index:1000
}

.open>.dropdown-menu{
	display:block
}


.pull-right>.dropdown-menu{
	right:0;
	left:auto
}








.country-selector .dropdown-menu{
	left:auto;
	right:0;
	width:185px
}


.country-selector .dropdown-menu .filter-input{
	position:relative
}


.country-selector .dropdown-menu .filter-input input{
	height:18px;
	line-height:18px;
	width:147px;
	margin:2px 0 0 6px;
	padding:4px 4px 4px 20px;
	outline:0;
	 border:1px #ccc solid;
	-webkit-border-radius:5px;
	border-radius:5px;
}



.country-selector .dropdown-menu .filter-input em{
	position:absolute;
	left:8px;
	top:8px;
	width:16px;
	height:16px
}


.country-selector .dropdown-menu .country-list{
	height:200px;
	overflow-y:scroll;
	margin:6px 6px 0 6px;
	position:relative;
	text-align:left;
}


.country-selector .dropdown-menu .country-list li a{
	white-space:normal;
	padding:3px 5px 3px 25px;
	line-height:14px;
	position:relative
}


.country-selector .dropdown-menu .country-list li a em{
	position:absolute;
	left:5px;
	top:2px
}


.country-selector .dropdown-menu .no-result{
	white-space:normal;
	padding:6px 11px;
	position:absolute;
	top:40px;
	overflow:hidden;
	width:141px
}


.country-selector .dropdown-toggle em{
	margin-top:2px
}


.country-selector .dropdown-toggle .caret{
	margin-top:8px
}


.country-selector .dropdown-toggle .in{
	background-position:-280px -80px
}


.country-selector [class^="litb-icon-"],.country-selector [class*="litb-icon-"]{
	width:16px;
	height:13px
}


.currency-selector{
	position:relative
}


.currency-selector .dropdown-menu{
	left:auto;
	right:0;
	width:63px;
	min-width:63px
}


.currency-selector .dropdown-menu li>a{
	padding:0 10px 0 29px;
	line-height:20px;
	position:relative
}


.currency-selector .dropdown-menu li>a em{
	position:absolute;
	width:19px;
	top:2px;
	left:10px;
	line-height:16px
}


.currency-selector em{
	font-style:normal
}

.nav-cross-shop{
	position:relative
}




.english{
	margin-right:5px;
}




/*弹出层 */

.fcc20150128-box1{
	
position:fixed;
	display:none;
	z-index:9999;
	left:50%;
	top:30%;
	margin-left:-300px;
	 width:560px;
	  height:290px;
	 font-size:12px;
	 background-color:#fff;
	 border:3px #ccc solid;
	 padding:10px 10px 20px 20px;
	
min-height:290px;
	 /*高度最小值设置为：100px*/ 
height:auto !important;
	 /*兼容FF,IE7也支持 !important标签*/
overflow:visible;
	 /*兼容ie6*/   

}


.btn0128-dg-1{
	width:160px;
	 height:36px;
	 margin:auto;
	cursor:pointer;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size:16px;
	 font-family:'Microsoft YaHei', Verdana;
}


.btn0128-dg-1 a:link,.btn0128-dg-1 a:visited{
	display:block;
	 text-decoration:none;
	width:160px;
	 height:36px;
	 line-height:36px;
	background-color:#eb0000;
	 color:#FFF;
	 font-size:16px;
	 text-align:center;
	cursor:pointer;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px #db002a solid;
}


.btn0128-dg-1 a:hover{
	background-color:#ff0000;
	 color:#FFF;
	font-size:16px;
 }




.litb-icon-flag{
	background-image:url(../Images/86mall/flag_country-icon.png);
	background-repeat:no-repeat
}


.af{
	background-position:0 0
}


.WW{
	background-position:-20px 0
}


.WW{
	background-position:-40px 0
}

.al{
	background-position:-60px 0
}

.WW{
	background-position:-80px 0
}

.dz{
	background-position:-100px 0
}

.as{
	background-position:-120px 0
}

.ad{
	background-position:-140px 0
}

.ao{
	background-position:-160px 0
}

.ai{
	background-position:-180px 0
}

.WW{
	background-position:-200px 0
}

.ag{
	background-position:-220px 0
}

.WW{
	background-position:-240px 0
}

.ar{
	background-position:-260px 0
}

.am{
	background-position:-280px 0
}

.aw{
	background-position:-300px 0
}

.WW{
	background-position:-320px 0
}

.au{
	background-position:-340px 0
}

.at{
	background-position:-360px 0
}

.az{
	background-position:-380px 0
}

.bs{
	background-position:-400px 0
}

.bh{
	background-position:-420px 0
}

.bd{
	background-position:-440px 0
}

.bb{
	background-position:-460px 0
}

.WW{
	background-position:-480px 0
}

.by{
	background-position:0 -20px
}

.be{
	background-position:-20px -20px
}

.bz{
	background-position:-40px -20px
}

.bj{
	background-position:-60px -20px
}

.bm{
	background-position:-80px -20px
}

.bt{
	background-position:-100px -20px
}

.bo{
	background-position:-120px -20px
}


.ba{
	background-position:-140px -20px
}

.bw{
	background-position:-160px -20px
}


.WW{
	background-position:-180px -20px
}

.br{
	background-position:-200px -20px
}


.io{
	background-position:-220px -20px
}

.bn{
	background-position:-240px -20px
}


.bg{
	background-position:-260px -20px
}

.bf{
	background-position:-280px -20px
}


.bi{
	background-position:-300px -20px
}

.kh{
	background-position:-320px -20px
}


.cm{
	background-position:-340px -20px
}

.ca{
	background-position:-360px -20px
}


.cv{
	background-position:-380px -20px
}

.WW{
	background-position:-400px -20px
}


.WW{
	background-position:-420px -20px
}

.ky{
	background-position:-440px -20px
}


.cf{
	background-position:-460px -20px
}

.td{
	background-position:-480px -20px
}


.cl{
	background-position:0 -40px
}

.cn{
	background-position:-20px -40px
}


.cx{
	background-position:-40px -40px
}

.WW{
	background-position:-60px -40px
}


.cc{
	background-position:-80px -40px
}

.co{
	background-position:-100px -40px
}


.WW{
	background-position:-120px -40px
}

.km{
	background-position:-140px -40px
}


.cg{
	background-position:-160px -40px
}

.WW{
	background-position:-180px -40px
}


.ck{
	background-position:-200px -40px
}

.cr{
	background-position:-220px -40px
}


.ci{
	background-position:-240px -40px
}

.hr{
	background-position:-260px -40px
}


.cu{
	background-position:-280px -40px
}

.WW{
	background-position:-300px -40px
}


.cy{
	background-position:-320px -40px
}

.cz{
	background-position:-340px -40px
}


.dk{
	background-position:-360px -40px
}

.dj{
	background-position:-380px -40px
}


.dm{
	background-position:-400px -40px
}

.do{
	background-position:-420px -40px
}

.ec{
	background-position:-440px -40px
}

.eg{
	background-position:-460px -40px
}

.sv{
	background-position:-480px -40px
}

.WW{
	background-position:0 -60px
}

.gq{
	background-position:-20px -60px
}

.er{
	background-position:-40px -60px
}

.ee{
	background-position:-60px -60px
}

.et{
	background-position:-80px -60px
}

.eu{
	background-position:-100px -60px
}

.fk{
	background-position:-120px -60px
}

.WW{
	background-position:-140px -60px
}

.WW{
	background-position:-160px -60px
}

.fj{
	background-position:-180px -60px
}

.fi{
	background-position:-200px -60px
}

.fr{
	background-position:-220px -60px
}

.tf{
	background-position:-240px -60px
}

.gf{
	background-position:-260px -60px
}

.ga{
	background-position:-280px -60px
}

.WW{
	background-position:-300px -60px
}

.gm{
	background-position:-320px -60px
}

.ge{
	background-position:-340px -60px
}

.de{
	background-position:-360px -60px
}

.gh{
	background-position:-380px -60px
}

.gi{
	background-position:-400px -60px
}

.gr{
	background-position:-420px -60px
}

.gl{
	background-position:-440px -60px
}

.gd{
	background-position:-460px -60px
}

.WW{
	background-position:-480px -60px
}

.gt{
	background-position:0 -80px
}

.gu{
	background-position:-20px -80px
}

.gg{
	background-position:-40px -80px
}

.gn{
	background-position:-60px -80px
}

.gw{
	background-position:-80px -80px
}

.gy{
	background-position:-100px -80px
}

.ht{
	background-position:-120px -80px
}

.WW{
	background-position:-140px -80px
}

.hn{
	background-position:-160px -80px
}

.hk{
	background-position:-180px -80px
}

.hu{
	background-position:-200px -80px
}

.WW{
	background-position:-220px -80px
}

.is{
	background-position:-240px -80px
}

.WW{
	background-position:-260px -80px
}

.IN{
	background-position:-280px -80px
}

.id{
	background-position:-300px -80px
}

.ir{
	background-position:-320px -80px
}

.iq{
	background-position:-340px -80px
}

.ie{
	background-position:-360px -80px
}

.WW{
	background-position:-380px -80px
}

.WW{
	background-position:-400px -80px
}

.il{
	background-position:-420px -80px
}

.it{
	background-position:-440px -80px
}

.jm{
	background-position:-460px -80px
}

.jp{
	background-position:-480px -80px
}

.je{
	background-position:0 -100px
}

.jo{
	background-position:-20px -100px
}

.kz{
	background-position:-40px -100px
}

.ke{
	background-position:-60px -100px
}

.ki{
	background-position:-80px -100px
}

.WW{
	background-position:-100px -100px
}

.kw{
	background-position:-120px -100px
}

.kg{
	background-position:-140px -100px
}

.WW{
	background-position:-160px -100px
}

.lv{
	background-position:-180px -100px
}

.lb{
	background-position:-200px -100px
}

.ls{
	background-position:-220px -100px
}

.lr{
	background-position:-240px -100px
}

.WW{
	background-position:-260px -100px
}

.li{
	background-position:-280px -100px
}

.lt{
	background-position:-300px -100px
}

.lu{
	background-position:-320px -100px
}

.WW{
	background-position:-340px -100px
}

.mk{
	background-position:-360px -100px
}

.mg{
	background-position:-380px -100px
}

.mw{
	background-position:-400px -100px
}

.my{
	background-position:-420px -100px
}

.mv{
	background-position:-440px -100px
}

.ml{
	background-position:-460px -100px
}

.mt{
	background-position:-480px -100px
}

.mh{
	background-position:0 -120px
}

.mq{
	background-position:-20px -120px
}

.mr{
	background-position:-40px -120px
}

.mu{
	background-position:-60px -120px
}

.yt{
	background-position:-80px -120px
}

.mx{
	background-position:-100px -120px
}

.fm{
	background-position:-120px -120px
}

.md{
	background-position:-140px -120px
}

.mc{
	background-position:-160px -120px
}

.mn{
	background-position:-180px -120px
}

.me{
	background-position:-200px -120px
}

.ms{
	background-position:-220px -120px
}

.ma{
	background-position:-240px -120px
}

.mz{
	background-position:-260px -120px
}

.mm{
	background-position:-280px -120px
}

.na{
	background-position:-300px -120px
}

.WW{
	background-position:-320px -120px
}

.nr{
	background-position:-340px -120px
}

.np{
	background-position:-360px -120px
}

.an{
	background-position:-380px -120px
}

.nl{
	background-position:-400px -120px
}

.WW{
	background-position:-420px -120px
}

.nz{
	background-position:-440px -120px
}

.ni{
	background-position:-460px -120px
}

.ne{
	background-position:-480px -120px
}

.ng{
	background-position:0 -140px
}

.nu{
	background-position:-20px -140px
}

.nf{
	background-position:-40px -140px
}

.WW{
	background-position:-60px -140px
}

.WW{
	background-position:-80px -140px
}

.WW{
	background-position:-100px -140px
}

.mp{
	background-position:-120px -140px
}

.no{
	background-position:-140px -140px
}

.WW{
	background-position:-160px -140px
}

.WW{
	background-position:-180px -140px
}

.WW{
	background-position:-200px -140px
}

.om{
	background-position:-220px -140px
}

.WW{
	background-position:-240px -140px
}

.pk{
	background-position:-260px -140px
}

.pw{
	background-position:-280px -140px
}

.WW{
	background-position:-300px -140px
}

.pa{
	background-position:-320px -140px
}

.pg{
	background-position:-340px -140px
}

.py{
	background-position:-360px -140px
}

.pe{
	background-position:-380px -140px
}

.ph{
	background-position:-400px -140px
}

.pn{
	background-position:-420px -140px
}

.pl{
	background-position:-440px -140px
}

.pt{
	background-position:-460px -140px
}

.pr{
	background-position:-480px -140px
}

.qa{
	background-position:0 -160px
}

.WW{
	background-position:-20px -160px
}

.WW{
	background-position:-40px -160px
}

.ro{
	background-position:-60px -160px
}

.ru{
	background-position:-80px -160px
}

.rw{
	background-position:-100px -160px
}

.WW{
	background-position:-120px -160px
}

.WW{
	background-position:-140px -160px
}

.lc{
	background-position:-160px -160px
}

.WW{
	background-position:-180px -160px
}

.WW{
	background-position:-200px -160px
}

.ws{
	background-position:-220px -160px
}

.sm{
	background-position:-240px -160px
}

.st{
	background-position:-260px -160px
}

.sa{
	background-position:-280px -160px
}

.WW{
	background-position:-300px -160px
}

.sn{
	background-position:-320px -160px
}

.rs{
	background-position:-340px -160px
}

.sc{
	background-position:-360px -160px
}

.sl{
	background-position:-380px -160px
}

.sg{
	background-position:-400px -160px
}

.WW{
	background-position:-420px -160px
}

.sk{
	background-position:-440px -160px
}

.si{
	background-position:-460px -160px
}

.sb{
	background-position:-480px -160px
}

.so{
	background-position:0 -180px
}

.xs{
	background-position:-20px -180px
}

.za{
	background-position:-40px -180px
}

.WW{
	background-position:-60px -180px
}

.kp{
	background-position:-80px -180px
}

.WW{
	background-position:-100px -180px
}

.es{
	background-position:-120px -180px
}

.lk{
	background-position:-140px -180px
}

.kn{
	background-position:-160px -180px
}

.vc{
	background-position:-180px -180px
}

.sd{
	background-position:-200px -180px
}

.sr{
	background-position:-220px -180px
}

.sj{
	background-position:-240px -180px
}

.sz{
	background-position:-260px -180px
}

.se{
	background-position:-280px -180px
}

.ch{
	background-position:-300px -180px
}

.sy{
	background-position:-320px -180px
}

.WW{
	background-position:-340px -180px
}

.tw{
	background-position:-360px -180px
}

.tj{
	background-position:-380px -180px
}

.tz{
	background-position:-400px -180px
}

.th{
	background-position:-420px -180px
}

.WW{
	background-position:-440px -180px
}

.tg{
	background-position:-460px -180px
}

.tk{
	background-position:-480px -180px
}

.to{
	background-position:0 -200px
}

.tt{
	background-position:-20px -200px
}

.WW{
	background-position:-40px -200px
}

.tn{
	background-position:-60px -200px
}

.tr{
	background-position:-80px -200px
}

.tm{
	background-position:-100px -200px
}

.tc{
	background-position:-120px -200px
}

.tv{
	background-position:-140px -200px
}

.ug{
	background-position:-160px -200px
}

.ua{
	background-position:-180px -200px
}

.WW{
	background-position:-200px -200px
}

.WW{
	background-position:-220px -200px
}

.ae{
	background-position:-240px -200px
}

.gb{
	background-position:-260px -200px
}

.WW{
	background-position:-280px -200px
}

.WW{
	background-position:-300px -200px
}

.us{
	background-position:-320px -200px
}

.uy{
	background-position:-340px -200px
}

.uz{
	background-position:-360px -200px
}

.vu{
	background-position:-380px -200px
}

.va{
	background-position:-400px -200px
}

.ve{
	background-position:-420px -200px
}

.vn{
	background-position:-440px -200px
}

.vg{
	background-position:-460px -200px
}

.vi{
	background-position:-480px -200px
}

.WW{
	background-position:0 -220px
}

.WW{
	background-position:-20px -220px
}

.eh{
	background-position:-40px -220px
}

.WW{
	background-position:-60px -220px
}

.WW{
	background-position:-80px -220px
}

.ye{
	background-position:-100px -220px
}

.zm{
	background-position:-120px -220px
}

.zw{
	background-position:-140px -220px
}

.tp{
	background-position:-160px -220px
}

.fo{
	background-position:-180px -220px
}

.gp{
	background-position:-200px -220px
}

.kr{
	background-position:-220px -220px
}

.la{
	background-position:-240px -220px
}

.ly{
	background-position:-260px -220px
}

.mo{
	background-position:-280px -220px
}

.ic{
	background-position:-320px -220px
}

.cd{
	background-position:-340px -220px
}

.xy{
	background-position:-360px -220px
}

.pf{
	background-position:-380px -220px
}

.sh{
	background-position:-400px -220px
}

.re{
	background-position:-220px -60px
}

.pm{
	background-position:-220px -60px
}

.wf{
	background-position:-220px -60px
}

.nc{
	background-position:-220px -60px
}
