body{
    overflow-x: hidden;
}
#index2015_tutorial {
    position: absolute;
    left: 18%;
    top: 50px;
    cursor: pointer;
}

.index2015_logo {
    margin: 140px 0 20px;
    text-align: center;
}
.index2015_search{
    width:600px; 
    margin:0 auto;
}
.search2015-textarea1 {
    background-color: #FFF;
    border: none;
    overflow: hidden;
    padding: 0px 10px 0px 100px;
    width: 400px;
    position: relative;
    height: 40px;
    line-height: 40px;
    border: 2px solid #C50000;
    border-radius: 10px;

}
.search2015-textarea1 input, .search2015-textarea1 select{
    font-size: 16px;
    font-weight: 400;
    height: 40px;
}

.sel_wrap {
    height: 30px;
    background: url("../Images/2/u46.png") no-repeat 55px;
    color: #a1a1a1;
    font-size: 16px;
    border-right: 1px solid #C50000;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    _filter: alpha(opacity=0);
    width: 80px;
    margin: 5px 0;
}

.sel_wrap label {
    padding: 0 20px 0 5px;
    font-size: 16px;
    z-index: 2;
    color: #a1a1a1;
    line-height: 30px;
    height: 30px;
    display: block;
    text-align: center;
    overflow: hidden;
}

.sel_wrap select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    *margin-top: 12px;
    filter: alpha(opacity=0);
    cursor: pointer;
    font-size: 16px;
}
.search2015_btn1{
    height: 40px;
    background: #C50000;
    border: 2px solid #C50000;
    border-radius: 10px;
    margin-left: -20px;
}
.search2015_btn1 a:link, .search2015_btn1 a:visited{
    background: none;
    padding-left: 10px;
}
.search2015_additional{
    margin:10px 0 50px;
}
.search2015_additional a{
    margin: 6px;
}
.search2015_additional a, .index2015_icons a{
    font-family: "Arial Normal","Arial";
    font-size: 16px !important;
    color: #949494;
}

.index2015_icons ul{
float:left;
position:relative;
left:50%;
}
.index2015_icons li{
float:left;
width: 64px;
margin:5px 40px;
padding:80px 5px 0;
position:relative;
right:50%;
text-align: center;
font-size: 16px;
}
.icons_1{
    background: url("../Images/2/u27.png") no-repeat center 10px;
}
.icons_2{
    background: url("../Images/2/u32.png") no-repeat center 10px;
}
.icons_3{
    background: url("../Images/2/u34.png") no-repeat center 10px;
}
.icons_4{
    background: url("../Images/2/u38.png") no-repeat center 10px;
}
.icons_5{
    background: url("../Images/2/u36.png") no-repeat center 10px;
}
.icons_6{
    background: url("../Images/2/u69.png") no-repeat center 10px;
}
.icons_7{
    background: url("../Images/2/u71.png") no-repeat center 10px;
}
.icons_8{
    background: url("../Images/2/u73.png") no-repeat center 10px;
}
.icons_9{
    background: url("../Images/2/u77.png") no-repeat center 10px;
}
.icons_10{
    background: url("../Images/2/u60.png") no-repeat center 10px;
}

.index2015_icons span{
    position: absolute;
    right: -10px;
    top: 0;
    width: 40px;
    color: #fff;
    background: #C50000;
    border: 1px solid #C50000;
    border-radius: 6px;
    padding: 0px;
}
.cover_btn{
    text-decoration: none;
    width: 100px;
    height: 40px;
    border: 0px none;
    background: #C50000 none repeat scroll 0% 0%;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    line-height: 40px;
    margin: 10px;
    border: 1px solid #C50000;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}