@charset "utf-8";
/* CSS Document */

/* 右边菜单 */
 body{margin:0;}
 
.cebianbox-1{z-index:999;width:36px; background: url(../Images/sidebar/cebianbg1121-1.png) repeat;}
.conbox1121-1{ width:36px; float:left; margin-top:150px; position:absolute; top:0; }
.btncb-1_off{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon1-off.png) no-repeat; }
.btncb-1_on{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon1-on.png) no-repeat;}

.btncb-2_off{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon2-off.png) no-repeat; }
.btncb-2_on{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon2-on.png) no-repeat;}

.btncb-3_off{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon3-off.png) no-repeat; }
.btncb-3_on{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon3-on.png) no-repeat;}

.btncb-5_off{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon5-off.png) no-repeat; }
.btncb-5_on{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon5-on.png) no-repeat;}


.btncb-6_off{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon6-off.png) no-repeat; }
.btncb-6_on{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon6-on.png) no-repeat;}

.btncb-7_off{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon7-off.png) no-repeat; }
.btncb-7_on{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon7-on.png) no-repeat;}

.btncb-8_off{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon8-off.png) no-repeat; }
.btncb-8_on{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon8-on.png) no-repeat;}

.btncb-9_off{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon9-off.png)#333 no-repeat; }
.btncb-9_on{float:left; width:36px;height:36px;margin-top:10px;background: url(../Images/sidebar/youceicon9-on.png) no-repeat;}


.btncb-4_off{float:left; width:36px;height:39px;margin-top:10px; color:#fff; text-align:center;line-height:24px;text-decoration: none;font-size: 14px; font-family:Verdana,'微软雅黑';background: url(../Images/sidebar/youceicon4-off.png)#333 no-repeat; padding-top:90px;line-height:36px;}
.btncb-4_on{float:left; width:36px;height:39px;margin-top:10px; color:#ff9900; text-align:center;line-height:24px;text-decoration: none;font-size: 14px; font-family:Verdana,'微软雅黑';background: url(../Images/sidebar/youceicon4-on.png) #ff6600 no-repeat; padding-top:90px; line-height:36px;}
.btncb-4_off2{float:left; width:36px;height:39px;margin-top:10px; color:#fff; text-align:center;line-height:24px;text-decoration: none;font-size: 14px; font-family:Verdana,'微软雅黑';background: url(../Images/sidebar/youceicon4-off2.png)#333 no-repeat; padding-top:90px;line-height:36px;}
.btncb-4_on2{float:left; width:36px;height:39px;margin-top:10px; color:#ff9900; text-align:center;line-height:24px;text-decoration: none;font-size: 14px; font-family:Verdana,'微软雅黑';background: url(../Images/sidebar/youceicon4-on.png) #ff6600 no-repeat; padding-top:90px; line-height:36px;}

.conbox1121-2{ width:36px; float:left; position:absolute; bottom:0; }

/*鼠标经过层 */
.mouseover1121-box1{ width:280px;border:1px #cecece solid; background-color:#fff; float:right;display:none; position:absolute;right:35px;-webkit-border-radius:3px;border-radius:3px; clear:both;}
.mouseover1121-box1 .close{ margin:auto;text-align:right; padding:15px 15px 0 0;} 
.mouseover1121-box1 .clear{ margin:auto; height:20px; text-align:right;} 
.mouseover1121-box1 .hy-touxiang{ margin:auto;width:66px; height:66px;border:1px #ddd solid;-webkit-border-radius:90px;border-radius:90px;  }
.mouseover1121-box1 .denglu-box1121-1{ margin:auto;width:100%; height:28px; line-height:28px; text-align:center;  font-family:Verdana,'微软雅黑'; font-size:12px; color:#333; }
.mouseover1121-box1 .sancaidanbox{ width:100%; height:104px; margin:auto; border-top:1px #e5e5e5 solid; background-color:#f8f8f8; padding-top:20px;  }

.btn1121-lb1{cursor:pointer; margin:auto;}
.btn1121-lb1 a:link,.btn1121-lb1 a:visited{display:block; text-decoration:none; width:90px;  padding-top:55px; color:#666; font-size:12px; text-align:center; background:url(../Images/sidebar/dengluicon-1.png) 25px 5px no-repeat;}
.btn1121-lb1 a:hover{color:#ff9900; background:url(../Images/sidebar/dengluicon-1-on.png) 25px 5px  no-repeat;}

.btn1121-lb2{cursor:pointer; margin:auto;}
.btn1121-lb2 a:link,.btn1121-lb2 a:visited{display:block; text-decoration:none; width:90px;  padding-top:55px; color:#666; font-size:12px; text-align:center; background:url(../Images/sidebar/dengluicon-2.png) 25px 5px no-repeat;}
.btn1121-lb2 a:hover{color:#ff9900; background:url(../Images/sidebar/dengluicon-2-on.png) 25px 5px  no-repeat;}

.btn1121-lb3{cursor:pointer; margin:auto;}
.btn1121-lb3 a:link,.btn1121-lb3 a:visited{display:block; text-decoration:none; width:90px;  padding-top:55px; color:#666; font-size:12px; text-align:center; background:url(../Images/sidebar/dengluicon-3.png) 25px 5px no-repeat;}
.btn1121-lb3 a:hover{color:#ff9900; background:url(../Images/sidebar/dengluicon-3-on.png) 25px 5px  no-repeat;}

.mouseover1121-box2{z-index:-1; height:34px; width:100px;text-align:center; line-height:34px; color:#4d4d4d; font-size:12px; padding:0 20px 0 20px;border:1px #cecece solid; background-color:#fff;right:-100px;display:none;position:fixed;-webkit-border-radius:3px;border-radius:3px;clear:both;}

.mouseover1121-box3{color:#4d4d4d;padding:3px;border:1px #cecece solid; background-color:#fff; float:right;position:absolute;display:none;margin-top:-87px;right:35px;-webkit-border-radius:3px;border-radius:3px;clear:both;}

.mouseover1125-box4{ width:128px; height:36px; line-height:36px; color:#4d4d4d; font-size:12px;  right:60px;position:absolute;display:none;clear:both; text-align:center; background:url(../Images/sidebar/sbjgbj1125.png) no-repeat;}
.nav_menu{position:relative;z-index:99;}
#sidebar-nav{position:relative;z-index:99;}
